*{
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.pm_header{
    min-width:1190px;
    height:130px;
    background-color: #f22;
}
.pm_page{
    width:1190px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    border-top:1px solid transparent;
    position: relative;
}
.pm_page>.page_top{
    margin-top: 0;
    background-color: #ffeae9;
    color: #d91517;
    text-align: center;
    font-weight: 700;
    padding: 3px 0;
    letter-spacing: 2px;
}
.pm_page>.page_content{
    margin-top: 19px;
}
.crumbs {
    width: 960px;
    margin: 0 0 20px;
    height: 24px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.crumbs a {
    line-height: 20px;
    font-size: 12px;
    color: #898989;
}
span{
    color: #898989;
}
a{
    text-decoration: none;
}
.page_main{
    width: 1190px;
    margin:0 auto;
    color: #666;
}
.clearfix{
    zoom:1;
    clear: none!important;
}
.clearfix:after,.clearfix:before{
    content: " ";
    display: table;
}
.clearfix:after,.clearfix:before{
    height: 0;
    overflow: hidden;
}
.page_box{
    position: relative;
    z-index: 6;
    border: 1px solid #e9e9e9;
    padding-left: 18px;
    height: 590px;
}
.page_box h1{
    margin-top: 22px;
    margin-bottom: 12px;
    font-size: 16px;
    color: #333;
}
.page_main_1{
    width: 440px;
    float: left;
    display: inline;
}
.page_pic{
    border: 2px solid #fff;
    position: relative;
    z-index: 1;
    margin: 0 10px 0 0;
    overflow: hidden;
    background: #f7f7f7;
}
.pm-s425, .pm-s425 a {
    width: 440px;
    height: 295px;
    border: none;
}
.page_pic .page_imagezoom{
    width: 436px;
    height: 295px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.pm-s425 img{
    max-width: 440px;
    max-height: 295px;
    border: 0;
}
.page_imageicon{
    display: block;
    position: absolute;
    right: -1px;
    bottom: -1px;
    height: 23px;
    width: 23px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background-position: -156px -139px;
    background-color: transparent;
}
#page_i{height: 64px;}
ul{
    list-style: none;
}
.page_thumb li{
    float: left;
}
.pm-selected .pm-s80{
    border:2px solid #d91615;
    width: 76px;
}
.pm-s80, .pm-s80 a{
    width: 76px;
    height:52px;
    margin-top: 8px;
}
.page_pic a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.page_pic a img{
    vertical-align: middle;
    border:0;
}
.pm-s80 img{
    max-width: 80px;
    max-height: 52px;
}
.pm-pic-last{
    margin-right: 0;
}
.page_remind{
    margin-top: 16px;
    padding-top: 6px;
    color: #bbb;
    font-size: 18px;
    font-weight: 200;
    font-family: '\5b8b\4f53',arial tahoma,'Hiragino Sans GB',sans-serif;
}
body .i-b{
    display: inline-block;
}
.page_apply{
    margin-right: 15px;
    font-size:12px;
}
.page_remind em {
    font-style: normal;
    font-weight: 400;
    color: #666;
    font-family: tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-size: 18px;
}
.page_separate {
    height: 18px;
    width: 1px;
    border-left: 1px solid #eee;
    vertical-align: middle;
}
.page_reminder{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
}
.page_surround {
    margin-left: 15px;
    font-size: 12px;
}
/*拍卖右侧时间、价格*/
.page_interaction{
    width: 512px;
    min-height: 530px;
    position: relative;
    top:-9px;
}
.tbc-pm{
    position: relative;
}
.page_sub{
    margin-left: 15px;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    z-index: 100;
}
.tbc-pm a{
    text-decoration: none;
}
.page_iconfont .new-iconfont{
    font-family: pm-new-notify-iconfont;
}
.page_iconfont .tbc-pm a{
    font-size: 16px;
    color: #dc1000;
}
.page_iconfont{
    display: block;
    margin-left: 15px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
}
.tbc-pm a .icon-hollow{
    display: inline;
}
.tbc-pm em{
    font-style: normal;
}
.page_iconfont em{
    font-size: 30px;
}
.page_sub a .notify-text{
    display: inline-block;
    color: #333;
    cursor: pointer;
    width: 60px !important;
    min-width: 60px !important;
}
.notify-text{
    text-align: center;
}
#page_price{
    z-index: 9;
    margin-bottom: 0;
}
.page_bid li{
    margin-bottom: 8px;
    position: relative;
}
#page_price .title{
    vertical-align: top;
    display: inline-block;
    position: relative;
    top: 13px;
}
.page_interaction .title{
    margin-left: 20px;
    margin-right: 27px;
}
.price_info {
    /*width: 310px;*/
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}
.current_price {
    color: #d91615;
}
.page_bid em{
    font-weight: 700;
    margin:0 3px 0 -5px;
    font-family: Arial;
    font-style: normal;
}
.current_price em{
    font-size: 26px;
}
.page_interaction .over-title{
    margin-right: 18px;
}
.page_bid .countdown{
    margin-left: -2px;
}
.page_bid .delaycnt{
    margin-left: 3px;
}
.page_bid_eye{
    position: relative;
}
.status-ing {
    background-position: -2px -106px;
}
.status-tip {
    position: absolute;
    top: 0;
    right: 3px;
    display: inline-block;
    width: 58px;
    height: 20px;
    background-position: -2px -83px;
    background: url("../img/paimai6.png") no-repeat 0 0 transparent;
}
.page_bid_e{
    background-color: #f3f3f3;
    padding: 12px 20px 11px;
    color: #666;
    min-height: 136px;
}
.page_bid_e dl{
    margin-top: 10px;

}
.page_bid_e dt {
    width: 50px;
    text-align: left;
    margin-right: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0;
}
.page_bid_e dd,.page_bid_e dt{
    float: left;
    position: relative;
 }
.page_bid_e .page_price_input{
    width: 236px;
    height: 40px;
    float: left;
    line-height: 40px;
}
.page_before_apply input{
    color: #999;
}
.page_bid_e input,.page_bid_e select{
    border: 1px solid #c2bbba;
    vertical-align: middle;
    font-size: 20px;
    padding-left: 10px;
}
input{
    outline: 0;
}
.page_sign {
    float: left;
    margin-left: 2px;
}
.page_sign .plus,.page_sign .plus:hover{
    background: transparent url("../img/paimai7.png") 0 -52px no-repeat;

}
.page_sign .plus{
    height:19px;
    margin-bottom: 1px;
}
.page_sign .minus, .page_sign .plus {
    display: block;
    width: 30px;
    text-indent: -999em;
}
.page_sign .minus,.page_sign .minus:hover{
    background: transparent url("../img/paimai7.png") -33px -52px no-repeat;
}
.page_sign .minus{
    height:20px;}
.page_message dt{
    height: 28px;
    line-height: 28px;
}
.page_message .line{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 65px;
}
a.page_apply_button{
    border-color: #ba0100;
    background-color: #d91615;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.page_button_new{
    width: 248px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    border: 1px solid transparent;
}
.page_message .msg .tips {
    padding: 2px 30px 2px 23px;
    position: relative;
    overflow: hidden;
    background-position: 3px -197px;
    background-color: #ffffe5;

}
.msg .tips{
    color: #404040;
    background:url("../img/msg_bg.png") no-repeat;
    border: 1px solid #ffcc7f;
    float: left;
    line-height: 18px;
}
.page_mouse{
    padding: 20px 0 20px 10px;
    line-height: 24px;
    background: url("../img/paimai8.png") no-repeat 45px bottom;
}
.pai-pay-infor {
    border-collapse: collapse;
    width: 100%;
    height: 80px;
}
table{
    border-spacing: 2px;
    display: table;
    border-color: grey;
}
colgroup {
    display: table-column-group;
}
.pai-pay-infor tr{
    padding: 0;
}
.pai-pay-infor td{
    font-family: tahoma;
    font-size: 12px;
    color: #777;
    cursor: pointer;
}
.pay_mark{
    padding-left: 10px;
    width: 48px;
    color: #666;
    height: 24px;
    line-height: 20px;
    overflow: hidden;
    text-align: justify;
    text-align-last: justify;
    vertical-align: -10px;
}
.pay_price{
    font-family: Tahoma;
}
em.m-i{
    font-size: 12px;
    font-weight: 400;
    font-family: arial,tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-style: normal;
}
.pay_type{
    margin-left: 10px;
    color: #333;
}
.pay_first{
    position: relative;
    width:86px;
    text-align: left;
}
.pai_info {
    color: #777;
    margin-left: 20px;
    padding-top: 3px;
}
.pai_info p{
    margin:13px 0;
}
.pai_info p .pai_content{
    display: inline-block;
    vertical-align: top;
}
.pai_info p em{
    font-weight: 400;
    margin-right: 20px;
    font-style: normal;
}
a{
    color: #666;
    text-decoration: none;
}
.page_bid_right{
    position: absolute;
    top: 0;
    right: 0;
    width: 218px;
    border-left: 1px solid #e9e9e9;
    height: 100%;
    z-index: 7;
    font-family: 'Microsoft YaHei',arial tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.buy_helper .hd{
    height: 36px;
    color: #dc2625;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
    padding: 0 10px;
}
.buy_helper .hd a{
    font-weight: 700;
    color: #333;
}
.buy_helper .hd a{
    display: block;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    font-family: 'Microsoft YaHei',arial tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.buy_helper .left{
    margin-right: 2px;
    font-size: 18px;
    font-weight: 400;
}
.buy_helper .hd a.right{
    float: right;
    font-size: 14px;
    font-weight: 400;
}
.iconfont-sf {
    font-family: "iconfont-sf"!important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
/*竞买介绍*/
.page_addition{
    margin:25px 0;
    position: relative;
    z-index: 5;
    border:1px solid #e6e6e6;
    height: 1090px;
}
.page_addition .wrap_line{
    position: absolute;
    height: 2px;
    font-size: 0;
    left: -1px;
    z-index: 12;
    top: -1px;
}
.page_addition .wrap_line .line {
    width: 0;
    height: 2px;
    background-color: #d91615;
    position: absolute;
    top: 0;
}
/*.detail_for{
    position: relative;
    z-index: 200;
    height: 56px;
    background-color: rgb(246, 246, 246);
    border-bottom: 1px solid rgb(230, 230, 230);
    width: 1188px;
}*/
/*.tab_menu {
    height: 55px;
    background: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
}
.tab_menu li.current {
    border-right-color: #e6e6e6!important;
    background: #fff;
}
.tab_menu li {
    float: left;
    height: 55px;
    font-size: 18px;
    position: relative;
    top: 1px;
    z-index: 11;
    font-family: 'Microsoft YaHei',arial tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    border-right: 1px solid #e6e6e6;
}
.tab_menu li.current a{
    color: #d91615;
}
.tab_menu li a{
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 10px 35px;
    color: #000;
    text-decoration: none;
}*/
/*notice*/
.notice-tit{
    height: 55px;
    position: relative;
    background: #f7f7f7;
}

.notice-tit ul {
    position: absolute;
    left: -1px;
    height:55px;
    background-color: #f6f6f6;
}

.notice-tit ul li{
    float: left;
    width: 144px;
    height: 55px;
    padding: 0 1px;
    font-size: 18px;
    line-height: 55px;
    text-align: center;
    overflow: hidden;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #e6e6e6;
    font-family: 'Microsoft YaHei',arial tahoma,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

/*li选中的样式*/
.notice-tit ul li.select {
    background: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    /*去除填充*/
    padding: 0;
}
.notice-tit ul li a:link, .notice-tit ul li a:visited{
    text-decoration: none;
    color: #000;
}

.notice-con .mod{
    margin: 10px 10px 10px 19px;
}

.notice-con .mod ul {
    overflow: hidden;
}

.notice-con .mod ul li{
    float: left;
    width: 134px;
    height: 25px;
    overflow: hidden;
}
.notice_sec{
    top:0;
    width: 1188px;
    height: 55px;
    position: fixed;
    display: block;
    z-index: 200;
}
.page_firstimg .pm-s80{
    border: 2px solid #d91615;
}
div.zoomDiv{
    z-index:999;
    position:absolute;
    width:200px;
    height:200px;
    background:#ffffff;
    border:1px solid #CCCCCC;
    display:none;
    text-align:center;
    overflow:hidden;
}
div.zoomMask{
    position:absolute;
    background:url("../img/mask.png") repeat scroll 0 0 transparent;
    cursor:move;
    z-index:1;
}